<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <div id = "app">

        <!-- Section: Trip Details -->

        <section id="tripDetails">
            <h1>Plan your Trip</h1>
            <form id="formDetails">
                <input type="text" id="departureCountry" placeholder="From" required>
                <input type="text" id="destinationCountry" placeholder="To" required>
                <label for="travelDate">Departure time</label>
                <input type="date" id="travelDate" class="tripDate">
                <input type="submit" id="submitForm">
            </form>
            <div id="entryHolder">
                <div id="departure"></div>
                <div id="destination"></div>
                <div id="temperature"></div>
                <div id="departureDate"></div>
                <div id="weather_condition"></div>
                <div id="daysRemaining"></div>
                <img id="cityImage" alt="destination image">
            </div>
                    <button id="removeTrip">Remove</button>
        </section>
    </div>
</body>
</html>
