<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
<body>
    <div id = "app">
        <section class="trip">
            <!--TODO: insert img background-->
            <h1>Plan your Trip</h1>
            <form class="formDetails">
                <input type="text" id="departureCountry" placeholder="From" required>
                <input type="text" id="destinationCountry" placeholder="To" required>
                <label for="travelDate">Departure time</label>
                <input type="date" id="travelDate" class="tripDate">
                <input type="submit" id="submitForm">
            </form>
            <div id="entryHolder">
                <div id="latitude"></div>
                <div id="longitude"></div>
                <div id="country"></div>
            </div>
        </section>
    </div>
</body>
</html>
